In [1]:
# import modules
import os
import pandas as pd

In [2]:
olympicData = pd.read_csv('olympic_data.csv')
olympicData.head()

,id,athlete_id,name,sex,age,height,weight,team,noc,games,...,season,sport,event,city,medal,host_city_lat,host_city_lng,noc_country,coutry_lat,country_lng
0,1,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,...,Summer,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Paris,Gold,48.853410,2.348800,Denmark,56.26392,9.501785
1,2,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,...,Summer,Swimming,Swimming Men's 200 metres Breaststroke,Antwerp,Bronze,51.216667,4.416666,Finland,61.92411,25.748151
2,3,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,...,Summer,Swimming,Swimming Men's 400 metres Breaststroke,Antwerp,Bronze,51.216667,4.416666,Finland,61.92411,25.748151
3,4,16,Juhamatti Tapio Aaltonen,M,28.0,184.0,85.0,Finland,FIN,2014 Winter,...,Winter,Ice Hockey,Ice Hockey Men's Ice Hockey,Sochi,Bronze,43.600000,39.730278,Finland,61.92411,25.748151
4,5,17,Paavo Johannes Aaltonen,M,32.0,175.0,64.0,Finland,FIN,1952 Summer,...,Summer,Gymnastics,Gymnastics Men's Team All-Around,Helsinki,Bronze,60.169900,24.938400,Finland,61.92411,25.748151

In [3]:
olympicData.to_html('tableData.html', index=False, classes=['table', 'table-striped', 'table-hover'])