In [1]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
#from config import pg_pwd
from configAB import username, password
import psycopg2
import os

from bs4 import BeautifulSoup as bs
import requests

import pandas as pd
import numpy as np

In [2]:
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/olympics')
Base = automap_base()
Base.prepare(autoload_with=engine)
session = Session(engine)

In [4]:
athlete_events = pd.read_csv('olympics_data.csv')
athlete_events.head()

,id,athlete_id,name,sex,age,height,weight,team,noc,games,...,season,sport,event,city,medal,host_city_lat,host_city_lng,noc_country,coutry_lat,country_lng
0,1,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,...,Summer,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Paris,Gold,48.853410,2.348800,Denmark,56.26392,9.501785
1,2,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,...,Summer,Swimming,Swimming Men's 200 metres Breaststroke,Antwerp,Bronze,51.216667,4.416666,Finland,61.92411,25.748151
2,3,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,...,Summer,Swimming,Swimming Men's 400 metres Breaststroke,Antwerp,Bronze,51.216667,4.416666,Finland,61.92411,25.748151
3,4,16,Juhamatti Tapio Aaltonen,M,28.0,184.0,85.0,Finland,FIN,2014 Winter,...,Winter,Ice Hockey,Ice Hockey Men's Ice Hockey,Sochi,Bronze,43.600000,39.730278,Finland,61.92411,25.748151
4,5,17,Paavo Johannes Aaltonen,M,32.0,175.0,64.0,Finland,FIN,1952 Summer,...,Summer,Gymnastics,Gymnastics Men's Team All-Around,Helsinki,Bronze,60.169900,24.938400,Finland,61.92411,25.748151

In [5]:
athlete_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39778 entries, 0 to 39777
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             39778 non-null  int64
 1   athlete_id     39778 non-null  int64
 2   name           39778 non-null  object
 3   sex            39778 non-null  object
 4   age            39046 non-null  float64
 5   height         31067 non-null  float64
 6   weight         30451 non-null  float64
 7   team           39778 non-null  object
 8   noc            39778 non-null  object
 9   games          39778 non-null  object
 10  year           39778 non-null  int64
 11  season         39778 non-null  object
 12  sport          39778 non-null  object
 13  event          39778 non-null  object
 14  city           39778 non-null  object
 15  medal          39778 non-null  object
 16  host_city_lat  39778 non-null  float64
 17  host_city_lng  39778 non-null  float64
 18  noc_country    39778 non-null  object
 19  coutry_lat     39778 non-null  float64
 20  country_lng    39778 non-null  float64
dtypes: float64(7), int64(3), object(11)
memory usage: 6.4+ MB

In [6]:
athlete_events.columns

Index(['id', 'athlete_id', 'name', 'sex', 'age', 'height', 'weight', 'team',
       'noc', 'games', 'year', 'season', 'sport', 'event', 'city', 'medal',
       'host_city_lat', 'host_city_lng', 'noc_country', 'coutry_lat',
       'country_lng'],
      dtype='object')

In [7]:
#athlete_events.to_sql(name='olympics_data', con=engine, if_exists='replace', index=False)

In [8]:
# load from csv if stored

athlete_events.to_sql(name='olympics_data', con=engine, if_exists='replace', index=False) 

#reload from db and save to csv
athlete_events = pd.read_sql_query('select * from "olympics_data"', con=engine)
#athlete_events.to_csv('olympics_data2.csv', index=False)

In [9]:
olympicsDF = pd.read_sql(sql = 'SELECT * FROM "olympics_data";', con = engine)
olympicsDF.head()

,id,athlete_id,name,sex,age,height,weight,team,noc,games,...,season,sport,event,city,medal,host_city_lat,host_city_lng,noc_country,coutry_lat,country_lng
0,1,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,...,Summer,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Paris,Gold,48.853410,2.348800,Denmark,56.26392,9.501785
1,2,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,...,Summer,Swimming,Swimming Men's 200 metres Breaststroke,Antwerp,Bronze,51.216667,4.416666,Finland,61.92411,25.748151
2,3,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,...,Summer,Swimming,Swimming Men's 400 metres Breaststroke,Antwerp,Bronze,51.216667,4.416666,Finland,61.92411,25.748151
3,4,16,Juhamatti Tapio Aaltonen,M,28.0,184.0,85.0,Finland,FIN,2014 Winter,...,Winter,Ice Hockey,Ice Hockey Men's Ice Hockey,Sochi,Bronze,43.600000,39.730278,Finland,61.92411,25.748151
4,5,17,Paavo Johannes Aaltonen,M,32.0,175.0,64.0,Finland,FIN,1952 Summer,...,Summer,Gymnastics,Gymnastics Men's Team All-Around,Helsinki,Bronze,60.169900,24.938400,Finland,61.92411,25.748151

In [ ]:
olympicsDF.to_html('tableData.html', index=False, classes=['table', 'table-striped', 'table-hover'])

In [17]:
maps = pd.DataFrame(olympicsDF.drop(columns=['id', 'athlete_id','name','sex','age','height','weight','team','noc', 'season','sport', 'medal','event', 'year', 'noc_country', 'coutry_lat', 'country_lng']))
maps
maps.to_csv('index_csv\host.csv', index=False)